.panel {
    margin-bottom: 10px;
}

.editor {
    position: relative;
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    user-select: none;
}

.letter {
    position: absolute;
    cursor:  pointer;
    font-size: 20px;
}

.letter.selected {
    color: red;
}

.selection-rect {
    position: absolute;
    border: 1px dashed blue;
    background: rgba(0, 100, 255, 0.1);
}